/* Write your CSS here */
.bgColor {
  background-color: #1c1c2b;
  height: 100%;
  width: 100%;
  padding: 33px;
  background-size: cover;
}
.flexingIcon {
  display: flex;
  color: #ffffff;
}
.WebSiteLogo {
  height: 30px;
  margin-top: 30px;
  margin-right: 12px;
}
.headingCowIn {
  color: #ffffff;
}
.BgCenter {
  text-align: left;
  color: #ffffff;
}
